# Programming_Assignment 4 SHIVAM TYAGI(FSDS BATCH)

Q1) Write a Python Program to Find the Factorial of a Number?

In [1]:
def fact(n):
    if n==1:
        return 1
    x=fact(n-1)
    return x*n

In [2]:
fact(5)

120

Q2)Write a Python Program to Display the multiplication Table?

In [9]:
def table(n):
    for i in range(1,11):
        print(str(n)+' x '+str(i)+' ='+str(n*i))

In [10]:
table(13)

13 x 1 =13
13 x 2 =26
13 x 3 =39
13 x 4 =52
13 x 5 =65
13 x 6 =78
13 x 7 =91
13 x 8 =104
13 x 9 =117
13 x 10 =130

Q3) Write a Python Program to Print the Fibonacci sequence?

In [12]:
def fib(n):
    if n==0 or n==1:
        return n
    return fib(n-1)+fib(n-2)

In [13]:
fib(4)

3

Q4) Write a Python Program to Check Armstrong Number?

In [29]:
def arm(n):
    if n/10==0:
        return 0
    y=(n%10)**3
    return y+arm(n//10)

In [31]:
z=int(input())
fa=arm(z)
if fa==z:
    print('Armstrong Number')
else:
    print('Not a Armstrong Number')

153
Armstrong Number

Q5) Write a Python Program to Find Armstrong Number in an Interval?

In [35]:
si=int(input())
ei=int(input())
for i in range(si,ei+1):
    fa=arm(z)
if fa==z:
    print('The Armstrong number between '+str(si)+' and '+str(ei)+' are '+str(fa))

100
160
The Armstrong number between 100 and 160 are 153

Q6)Write a Python Program to Find the Sum of Natural Numbers?

In [37]:
x=int(input())
print(x*(x+1)//2)

7
28